@font-face { font-family: 'Maple Mono'; src: url(https://github.com/oeyoews/fonts/raw/main/MapleMono-Regular.ttf); }

/** example **/
.maplefont {
font-family: 'Maple Mono'; font-size:1em; color:green; 
}