.tc-install-plugin {
    font-weight: bold;
    background: green;
    color: white;
    fill: white;
    border-radius: 4px;
    padding: 3px;
		transition: ease-out .3s all;
}

.tc-install-plugin:hover {
	padding: 6px;
}